.content{
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "profile-layout-photo"
    "profile-info"
    "MyPosts";
    background-color: #F5F5F5;
    box-sizing: border-box;    
  }
  
  .profile_info{ 
    display: grid;
    grid-template-columns: 2fr 4fr;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 4px rgb(189, 185, 185);
  }
  .profile_info img{
    
    border-radius: 5px;
    width: 300px;

  }

  .profile_photo{
    margin: 1rem;
  }

  .profile_photo input{
    margin: 1rem;
  }

  .uploadButton{
    width: min-content;
    white-space: nowrap;
    margin: 1rem auto;
  }