.content{
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "profile-layout-photo"
    "profile-info"
    "MyPosts";
    background-color: #F5F5F5; 
  }
  
  .profile_info{ 
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 0 4px rgb(189, 185, 185);
  }
  .profile_info img{
    width: 100%;
    border-radius: 1px;

  }

  .profile_photo{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
  }
  .profile_photo input{
    margin: 1rem;
  }

  .uploadButton{
    width: min-content;
    white-space: nowrap;
    margin: 1rem auto;
  }