.MyPosts {
    display: grid;
    grid-template-rows: 5rem 1fr;
    grid-gap: 10px;
    grid-area: MyPosts;
}

.addNewPost{
    display: block;
}


.post{
    display: grid;
    grid-template-rows: 2rem 2rem 2rem;
    grid-gap: 10px;
    margin-bottom: 1rem;
    margin-top: 5px;
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 0 4px rgb(189, 185, 185);
    padding: 1rem 2rem;
}