.MyPosts {
    display: grid;
    grid-template-rows: 7rem 1fr;
    grid-gap: 10px;
    grid-area: MyPosts;
    box-sizing: border-box;
}

.Textarea {
    display: grid;
    grid-template-columns: 82% 17%;
    grid-gap: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 4px rgb(189, 185, 185);
    padding: 1.3rem 2rem;
    height: 6rem;
    
}

.Textarea .inputField{
    width: 100%;
    box-sizing: border-box;
}

.Textarea button {
    padding: 12px;
}