.info{
  margin: 1rem;
}

.info h1{
  margin-bottom: 1rem;
}

.info div{
  margin: 3px;
}

.job{
  width: 16px;
}

.error{
  color: red;
}

.editMode{
  margin: 1rem;
}

.editMode h4,
.editMode .lookingForAJob,
h5
{
  margin-bottom: 1rem;
}


