.info{
  margin: 1rem;
}

.info h1{
  white-space: nowrap;
  width: min-content;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.info div{
  margin: 3px;
}

.info button,
.editModeForm button
{
margin-left: 35%
}

.job{
  width: 16px;
}

.error{
  color: red;
}

.editMode{
  margin: 1rem;
}

.editModeForm h4,
.editModeForm .lookingForAJob,
h5
{
  margin-bottom: 1rem;
}

.editModeForm div
{
  margin-bottom: 1rem;
}


