.item {
  width: 70%;
  display: grid;
  grid-template-columns: 20% 40%;
  grid-gap: 50px;
  margin: 10px auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 4px rgb(189, 185, 185);
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.item div{
  width: 100%;
}

.avatarButton button{
  width: 100%;
  margin-top: 10px;

}

.profileImg{
  width: 100%;
}
