.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
    border-radius: 5px;
    box-sizing: border-box;
    height: 50px;
}

.formControl.error div {
    color: red;
    margin: 0;
    padding: 0;
}

.formControl input{
    width: 120%;
    height: 30px;
}

