.headerText {
  flex: 1;
}

.logo{
    width: 50px;
    border-radius: 100%;
    margin-right: 1rem;
  }

.headerUserData{
  color: white;
  font-size: 17px;
  text-decoration: none;
  margin-right: 1rem; 
}
.headerUserData:hover {
  color: rgb(145, 141, 141);
  text-decoration: none;
}
