.header{
    grid-area: header;
    background-color: #2d2d2d;
    border-radius: 5px;
    box-shadow: 0 0 4px rgb(189, 185, 185);
}

.logo{
    width: 100px;
    margin-top: 0.2%;
    margin-left: 10px;
    border-radius: 100%;
  }

.login {
  display: flex;
  float: right;
  margin: 1%;
  
}

.login a {
  color: antiquewhite;
  font-size: 20px;
  text-decoration: none;
  padding-right: 5%; 
}