.nav{
    grid-area: nav;
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5%;
  }
  
  .nav a{
    font-size: larger;
    text-decoration: none;
  }
  .nav div{
    margin-bottom: 5%;
  }

  .item {
      color: red;
  }

  a.activeLink{
    color: burlywood;
  }

  
