*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}
body{
  background-color: #F5F5F5;
}


.app-wrapper{
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-rows: 60PX 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 
  "header header"
  "nav content"
  "friends content";
  background-color: #F5F5F5;
}

.app-wrapper-content{
  grid-area: content;
}





