.addNewMessage{
    grid-area: addNewMessage;
    display: grid;
    grid-template-columns: 78% 17%;
    grid-gap: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 4px rgb(189, 185, 185);
    padding: 1.3rem 2rem;
    height: 6rem;
}
.addNewMessage .textarea{
    width: 100%;
    box-sizing: border-box;
}

.addNewMessage button {
    padding: 12px;
}